*{
    margin-left: 5%;
    margin-right: 10%;
}

.head{
    height: 300px;
    text-align: center;
    background-color: rgb(0, 162, 255);
    width: 100%;
    color: white;
}
.body{
    margin-top: 100px;
    position: relative;
    height: 600px;
}
table{
    border-collapse: collapse;
}
tr{
    font-weight: bold;
    margin-top: 300px;
}

table td{
    margin: 200px;
}

.spanz{
    position: absolute;
    top: 26px;
    left: 280px;
}